body {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0;
  width: 250px;
  background-color: #f4f4f4;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #474747;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:not(:last-child) {
  margin-bottom: 10px;
}

.btn:hover {
  background-color: #0056b3;
}

.btn:active {
  background-color: #003f7f;
}

li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border-bottom: 1px solid #ddd;
  background-color: #f9f9f9;
  cursor: pointer;
  z-index: 0;
}

#open-tab-set-list {
  display: flex;
  flex-direction: column;
  display: none;
  font-size: 16px;
}

.delete-tab-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  z-index: 1;
}

.delete-tab-btn img {
  width: 20px;
  height: 20px;
}

.delete-tab-btn:hover img {
  opacity: 0.7;
}

li:hover {
  background-color: #e0e0e0;
}

#popup-confirm {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  max-width: 85%;
}
.popup-content p {
  margin-bottom: 20px;
  font-size: 14px;
}

.popup-btn {
  padding: 5px 10px;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;

  transition: background-color 0.3s;
}

#confirm-overwrite {
  background-color: #28a745;
}
#confirm-overwrite:hover {
  background-color: #218838;
}

#decline-overwrite {
  background-color: #dc3545;
}

#decline-overwrite:hover {
  background-color: #c82333;
}
