body {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0;
  width: 250px;
  background-color: #f4f4f4;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #474747;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:not(:last-child) {
  margin-bottom: 10px;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  background-color: #003f7f;
}

li {
  list-style: none;
}

#open-tab-set-list {
  display: flex;
  flex-direction: column;
  display: none;
  font-size: 16px;
}
